.play .relative:hover .absolute {
    opacity: 1;
}

/* Styling for the play button */
.play .absolute button {
    display: none; /* Initially hidden */
}

/* Show the play button when its parent is hovered */
.play .relative:hover .absolute button {
    display: block;
}